[Unit]
Description=Rclone mount for Google Drive
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount gdrive: /mnt/gdrive \
  --dir-cache-time 24h \
  --vfs-cache-mode writes \
  --vfs-cache-max-age 24h \
  --vfs-cache-max-size 2G \
  --poll-interval 15s \
  --umask 002 \
  --allow-other
Restart=on-failure
Environment=RCLONE_CONFIG=%h/.config/rclone/rclone.conf

[Install]
WantedBy=multi-user.target
